*.log
*.xml
*.txt
*.chens
*.html
*.md
*.dep
Documentations
Projects/NUCLEO-H563ZI/Applications/NetXDuo/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/Binary/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/EWARM/Loader/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/EWARM/Nucleo_STM32H563/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/EWARM/settings/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/MDK-ARM/RTE/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/STM32CubeIDE/.settings/
Projects/NUCLEO-H563ZI/Applications/ROT_S/Loader/STM32CubeIDE/Release/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Appli/Binary/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Appli/EWARM/H563_App/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Appli/EWARM/settings/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Appli/MDK-ARM/EventRecorderStub.scvd
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Appli/MDK-ARM/H563_App/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Appli/MDK-ARM/RTE/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/Binary/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/EWARM/NUCLEO-H563ZI/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/EWARM/NUCLEO-H563ZI_OEMiROT_Boot/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/EWARM/image_macros_preprocessed_bl2.c
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/EWARM/settings/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/MDK-ARM/NUCLEO-H563ZI/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/MDK-ARM/RTE/
Projects/NUCLEO-H563ZI/Applications/ROT_S/OEMiROT_Boot/MDK-ARM/image_macros_preprocessed_bl2.c
Projects/NUCLEO-H563ZI/Applications/ThreadX/
Projects/NUCLEO-H563ZI/Applications/USBPD/
Projects/NUCLEO-H563ZI/Applications/USBX/
Projects/NUCLEO-H563ZI/ROT_Provisioning/env.bat
Projects/NUCLEO-H563ZI/ROT_Provisioning/env.sh
Projects/NUCLEO-H563ZI/Templates/
Projects/NUCLEO-H563ZI/Templates_LL/
Projects/_htmresc/
_htmresc/

